In [ ]:
a = 15
b = 4
print(a // b)

In [ ]:
a, b = 9 ,2
print(a / b)
print(a // b)
print(a % b)

In [5]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))
print((a + b), (a -b ), (a / b), (a // b), (a % b ),(a *b) )

79 31 2.2916666666666665 2 7 1320

In [6]:
print(10 // 4)
print(10 / 4)

2
2.5

In [ ]:
age = 20
print("Your age is " + str(age))

In [7]:
a=int("20",3)
print(a)

6

In [8]:
a = int("1234567", 8)
print(a)

342391

In [9]:
x = 20
print("you age is: " ,x)

you age is:  20

In [10]:
print(int("127", 8))

87

In [11]:
word = "PYTHON"
print(word[::-2])

NHY

In [3]:
x = "hello world.  "
print(x.strip())
print(x.replace("hello" , "python"))
print(x.find("d"))
print(x.split())
x = "j" + x[1:]
print(x)

hello world.
python world.
10
['hello', 'world.']
jello world.

In [ ]:
print(x)

In [ ]:
print(x.upper())
print(x[:5:-1])

In [ ]:
mesg = input("enter any name to check it is palindrome or not: ")
if mesg == mesg[::-1]:
  print(f"you enter name {mesg} is palindrome")
else:
  print("not palindrome")

In [ ]:
text = "123456789"
middle = len(text) // 2
print(text[middle::-1])

In [ ]:
print(middle)

In [13]:
a = "hello"
b = len(a) // 2
print(b)

2

In [12]:
print("My name is {} and I am {} years old".format("pranith", 21))

My name is pranith and I am 21 years old

In [ ]:
name = "pranith"
print(name)

In [ ]:
x , y = 10, 25
c = x + y
print(f"the sum of two numbers:{x} + {y} = {c}")

In [ ]:
x = 42
print(f"type of x is {type(x)}")

In [ ]:
age = 21
print(f"I am {age} years old.")

In [ ]:
num1 = int(input("enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print(f"sum = {sum}, difference = {difference}, product = {product}, quotient = {quotient}")

In [ ]:
print((5 + 3) * 2)

In [ ]:
num1 , num2 = 35 , 20
print(f"{num1} % {num2} = {num1 % num2}")

In [ ]:
a = 350567
b = 1000
kilometers = a / 1000
print(f" {a} meters = {kilometers}")

In [15]:
slicing = "PyhtonProgramming"
print(slicing[0:5])
print(slicing[6:])

x = "ABCDEFGHIJ"
print(x[::2])

z = "HelloWorld"
print(z[-5:])

y = "OpenAI"
print(y[::-1])

Pyhto
Programming
ACEGI
World
IAnepO

In [33]:
data = "DataScience"
print(len(data))
print(data[3::-1] + data[4:])

11
ataDScience

In [35]:
z = "abcdefghij"
print(z[1:9:2])
print(len(z))
print(z[1:-1])

bdfh
10
bcdefghi

In [ ]:
user = input("Enter a name to get first five character: ")
print(user[0:5])

In [ ]:
age = int(input("Enter your age: "))
print(f"After 5 years, you will be {age + 5} years old.")

In [ ]:
user = "python is fun"
reverse = user[::-1]
print(reverse)

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()          # split into list of words
reversed_sentence = "--".join(words[::-1])  # reverse list and join back
print(reversed_sentence)

In [ ]:
num = float(input("Enter an integer: "))
print("Positive" if num > 0 else "Negative" if num < 0 else "Zero")

In [ ]:
pi = 3.142345
print(f"value of pi is: {pi:.4f}")

In [ ]:
from num2words import num2words

num = int(input("enter number"))
words = num2words(num, lang='en_IN')  # Indian style
print(words.capitalize())

In [ ]:
a = "pranith"
print(f"{a:>24}")

In [36]:
print(4 /2)

2.0

In [40]:
score = 0.8567
print(f"Score: {score:.2%}")

Score: 85.67%

In [43]:
n = 16
print(f"Hex: {n:x}")  # lowercase hex
print(f"HEX: {n:X}")  # uppercase hex
print(f"Bin: {n:b}")  # binary
print(f"Oct: {n:o}")  # octal

Hex: 10
HEX: 10
Bin: 10000
Oct: 20

In [47]:
money = 1000000
print(f"Amount: {money:,}")

Amount: 1,000,000